<a href="https://colab.research.google.com/github/Prajaktahz/Uni_Colab_Work/blob/main/FBA_Week_03_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
# FBA Computing Session Week 3:

Python Practice

Remember that it is vital that you learn to script - as a top business analyst you will often be looking to generate insight from large amounts of business data. While software such as SPSS and excel <i>aren't</i> sufficient for processing data of that scale, scripting languages are built to do exactly that! Because of this, when hiring for the best analyst jobs, companies expect knowledge about either python or R as a pre-requisite.

Now, we have so far learnt the basic tools of scripting: variables, conditionals and loops. These are absolutely key to have an instinctive undertanding of. But of course, learning how to manipulate business data requires more than that: we need to understand "data structures".

The two core Python data structures that we will become familiar with today are:

1. Lists
2. Dictionaries

#### Make sure that you learn these as they will underpin all of our analyses.

<hr/>
Ok, to get started, let's refresh our minds of what lists are.

# A Practice Case - Selling fruits!

To get to practice our lists, dictionaries and their associated methods we are going to use a simple case study, where we are tasked with helping a fruit merchant.

To start with, we are going to sell some mango, pears, bananas and apples, so first create a list containing these 4 fruits.

In [ ]:
# enter your code here
fruits = ['mango','pears','bananas', 'apples']

The merchant forgot to tell you but he is also stocking some peaches. Using the **.append()** method, add it to our list of fruits.

(Don't forget to print your list once you have changed it to check if it worked as expected.)

In [ ]:
# enter your code here
fruits.append('peaches')
print(fruits)

['mango', 'pears', 'bananas', 'apples', 'peaches']

There was also some mis-communication, in that the merchant does not have any mango after all. Update your list accordingly using the method **.remove()**.

(Don't forget to print your list once you have changed it to check if it worked as expected.)

In [ ]:
# enter your code here
fruits.remove('mango')
print(fruits)

['pears', 'bananas', 'apples', 'peaches']

In addition to the fruits list, the merchant is also going to provide you a list of prices for his fruits. Unfortunately, he doesn't follow best practices as he used a list to store the price of each fruit **ordered in the alphabetical order**. (i.e. the first price corresponds to 'apples', the last one to 'pears')

In [ ]:
price_list = [1.35, 0.99, 4, 2.99, 2.25]

The first step to be able to match our two datasources (i.e. our list **fruits** and the provided list **price_list**), is to sort our list fruits in the alphabetical order using the method .sort().

Afterwards, print the result of your sorted list to check if it was correctly performed.

In [ ]:
# enter your code here
fruits.sort()
print(fruits)

['apples', 'bananas', 'peaches', 'pears']

You may have noticed, the price list contains 5 prices but we only have 4 fruits. Another mis-communication ... This time, the merchant forgot to tell you he also sells cherries which we need to add to our **fruits** list (get used to these as a business analyst - the data you have will always need some 'cleansing'!)

Unfortunately, we have also sorted our list in the alphabetical order so we need to be carreful when we add cherries to the list if we want the prices to correspond! 'cherries' will be the 3rd fruit in the alphabetical order (after 'apples' and 'bananas' and before 'peaches' and 'pears').

Using the **.insert()** method, add 'cherries' to our **fruits** list so that it appears in 3rd position to respect the alphabetical sorting. Remember, list indexing starts at 0 (zero) !!!

In [ ]:
#enter your code here
fruits.insert(2,'cherries')

You should now have a list **fruits** that contains the following values in that order: ['apples', 'bananas', 'cherries', 'peaches', 'pears']. Print your list to make sure it is the case!

In [ ]:
#enter your print statement here
print(fruits)

['apples', 'bananas', 'cherries', 'peaches', 'pears']

Let's check everything matches - create a loop using a variable i and a <b>range(5)</b> function, that on each iteration of the loop prints out the name of the next fruit, next to its price

In [ ]:
#enter your loop here
for i in range(len(fruits)):
  print(fruits[i] + ' : ' + str(price_list[i]))

apples : 1.35
bananas : 0.99
cherries : 4
peaches : 2.99
pears : 2.25

### Dictionaries

Okay, so we have two lists (one for items, one for prices) whose items match. But it might be easier if this information was in a dictionary called **prices**. Let's create just this.

First of all, create an empty dictionary stored in a variable named **prices** (as a reminder, you define a dictionary using { } instead of [ ] for a list):

In [ ]:
#enter your empty dictionary declaration here
prices = {}

We could add every element in a single line declaration as follows:

(note we don't assign this dictionary into the prices variable as we don't want to remember it for now):

In [ ]:
{'apples':1.35, 'bananas':0.99, 'cherries':4, 'peaches':2.99, 'pears':2.25}

{'apples': 1.35,
 'bananas': 0.99,
 'cherries': 4,
 'peaches': 2.99,
 'pears': 2.25}

Or we could add them line by line as follows:

In [ ]:
prices['apples'] = 1.35

Add every item using the key assignment syntax shown above, so prices is a full dictionary!

In [ ]:
# enter your code here
prices.update({'bananas':0.99, 'cherries':4, 'peaches':2.99, 'pears':2.25})
# print out the result
print(prices)

{'apples': 1.35, 'bananas': 0.99, 'cherries': 4, 'peaches': 2.99, 'pears': 2.25}

A final option for doing this (given we had the data already in lists) would have been to use a loop. If we'd had hundreds of stock items to enter in, that were already in lists, this would have been invaluable.

Using a **for** loop and the **range** function, iterate through the indexes of your previous created lists: **fruits** and **price_list** (remember both lists contains 5 elements in order, which are a matching fruit and price).

Accessing values by index, you can get the fruit name and the fruit price to populate our **prices** dictionary using the fruit name as a key and the price as the value.

Try this now, and don't forget to print your dictionary after (and outside) your for loop to see if it was correctly populated.

In [ ]:
#enter your empty dictionary declaration here so we can start again
prices = {}

#enter your looping code here
for i in range(len(fruits)):
  prices[fruits[i]] = price_list[i]
#print out the results. Does it match your previous, line-by-line created dictionary?
print(prices)

{'apples': 1.35, 'bananas': 0.99, 'cherries': 4, 'peaches': 2.99, 'pears': 2.25}

## Putting it all together

Okay, let's combine this with user input on stock amounts. First,  create an empty dictionary that we will store in a variable **stock**:

In [ ]:
#enter your empty dictionary declaration here
stock = {}

You are now going to write a small script that interacts with the user to populate our fruit stock dictionary. Using a **for** loop and the list **fruits**, iterate through each fruit you are stocking and ask the user to **input()** the stock for that fruit (e.g. : 'How many bananas do you have in stock? 549'). Use the fruit name as the key and the quantity entered by the user as the value to populate your **stock** dictionary.

In [ ]:
#enter your for loop here that iterates through the fruit
for i in range(len(fruits)):
    #inside the loop ask the user how much stock that fruit has
    print('how many '+ fruits[i] + ' you have?')
    stock_quantity = int(input())
    #and then add whatever info they input into the stock dictionary
    stock[fruits[i]] = stock_quantity

#finally print out the results
print(stock)

how many apples you have?
12
how many bananas you have?
13
how many cherries you have?
4
how many peaches you have?
56
how many pears you have?
40
{'apples': 12, 'bananas': 13, 'cherries': 4, 'peaches': 56, 'pears': 40}

The last thing that our merchant would like to know is how much money is his stock of fruits worth. Using a **for** loop, your list **fruits** and your two dictionaries **stock** and **prices**, compute the total value of his merchandise, based on the stock amounts you input. (i.e. apples are £1.35 each so if you stated that he has, for example, 100 of them, his apple stock is worth £135 - to which you will need to add bananas, cherries, peaches and pears).

This may be a tricky loop the first time

In [ ]:
#create a variable that will keep track of your running stock worth
#(which you will add to each time you go round the loop)
total_stock_value = 0

#enter your code here that loops through the fruits
for i in range(len(fruits)):
  #print(fruits[i])
  fruit_quantity = stock[fruits[i]]
  #print(fruit_quantity)
  fruit_price = float(price_list[i])
  #print(fruit_price)
  total_stock_value += (fruit_quantity * fruit_price)
#print out the final stock worth
print('The total stock is worth £' + str(total_stock_value))

apples
12
1.35
bananas
13
0.99
cherries
4
4.0
peaches
56
2.99
pears
40
2.25
The total stock is worth £302.51

<hr/>

## Case Study Example 2 - back to ice creams!

Let's now go back to our ice cream business and see how we could have made our lives a bit simpler last week if we had known about lists and loops!

Here is a reminder of the sales of our business:

|-| January | February | March | April | May | June | July | August | September | October | November | December
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2020|£1000|£1100|£1200|£1300|£1400|£1500|£1500|£1400|£1300|£1200|£1100|£1000|
|2021|£1100|£1200|£1300|£1400|£1500|£1600|£1600|£1500|£1400|£1300|£1200|£1100|
|2022|£500|£1600|£1700|£1800|£1900|£500|£500|£500|£1800|£1700|£1600|£500|

You are given the following sales data, already put into your script by previous analysts (normally we'd have to load this in from a csv file or sql database ourselves!):

In [1]:
sales_2020 = [1000, 1100, 1200, 1300, 1400, 1500, 1500, 1400, 1300, 1200, 1100, 1000]
sales_2021 = ['1100', '1200', '1300', '1400', '1500', '1600', '1600', '1500', '1400', '1300', '1200', '1100']
sales_2022 = [500.0, 1600.0, 1700.0, 1800.0, 1900.0, 500.0, 500.0, 500.0, 1800.0, 1700.0, 1600.0, 500.0]

Note that not everything is in the same format! Anyhow, we'll deal with that later (data cleansing required again at some point!). First, create a list containing the months of a year from January till December:

In [2]:
#enter your code here
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

Now, remember that we can access the data in a list by using an index (which always starts from zero!). For example, we can access individual sales results as follows:

In [3]:
print("Example sales in 2020:")
print(months[0], sales_2020[0])

print()

print("Example sales in 2021:")
print(months[2], sales_2021[2])

Example sales in 2020:
Jan 1000

Example sales in 2021:
Mar 1300

Note that March, being the 3rd month, is indexed by a 2 because we start counting from zero.

As above, print out the sales for December 2022:

In [4]:
#enter your code here
print('Sales for Dec 2022:')
print(months[-1], sales_2022[-1])

Sales for Dec 2022:
Dec 500.0

Use a loop to print the sales for each of the months in 2022 on a separate line. To do this use a variable called <b>i</b> and the <b>range</b> function to enumerate your loop, and then use <b>i</b> to index the sales and name of each month from their lists.

In [5]:
#enter your code here
for i in range(len(months)):
  print(months[i], sales_2022[i])

Jan 500.0
Feb 1600.0
Mar 1700.0
Apr 1800.0
May 1900.0
Jun 500.0
Jul 500.0
Aug 500.0
Sep 1800.0
Oct 1700.0
Nov 1600.0
Dec 500.0

Update your code above, so it prints out in a format like "The month of January 2021 had sales of £ 1400" (note the use of the pound sign, and that the number displayed is an integer and not a float!)

In [6]:
#enter your code here
for i in range(len(months)):
  print('The month of ' + months[i] + ' 2021 had sales of £'+ str(sales_2021[i]))

The month of Jan 2021 had sales of £1100
The month of Feb 2021 had sales of £1200
The month of Mar 2021 had sales of £1300
The month of Apr 2021 had sales of £1400
The month of May 2021 had sales of £1500
The month of Jun 2021 had sales of £1600
The month of Jul 2021 had sales of £1600
The month of Aug 2021 had sales of £1500
The month of Sep 2021 had sales of £1400
The month of Oct 2021 had sales of £1300
The month of Nov 2021 had sales of £1200
The month of Dec 2021 had sales of £1100

Remember, you don't have to use <b>range()</b> to loop round a list of data. You can just iterate through each item in the list itself as follows:

In [7]:
for value in sales_2021:
    print(value)

1100
1200
1300
1400
1500
1600
1600
1500
1400
1300
1200
1100

But doing so means we can't connect the indices of lists together. Having two parallel lists, with each index containing related information in each (in our example our months and sales values were paired) is very common in scripting. However, another option is to use a dictionary.

Here's an example of a dictionary that uses the month of the year as a key, and the number of days in it as the corresponding value (on a non-leap year!):

In [8]:
days = {'Jan':31, 'Feb':28, 'Mar':31, 'Apr':30, 'May':31, 'Jun':30, 'Jul':31, 'Aug':31, 'Sep':30, 'Nov':30, 'Oct':31, 'Dec':31}
print(days)

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Nov': 30, 'Oct': 31, 'Dec': 31}

And here's a loop that could display them in a tabular form:

In [9]:
for d in days:
    print(d, days[d])

Jan 31
Feb 28
Mar 31
Apr 30
May 31
Jun 30
Jul 31
Aug 31
Sep 30
Nov 30
Oct 31
Dec 31

Examine what a loop iterating through a dictionary does. Unlike for a list, it puts the <b>key</b> into the variable, rather than the associated value. The key is then used as an index itself in the loop to access the corresponding value in the print statement.

We can also add key-value pairs to dictionaries gradually:

In [10]:
dict_sales_2020 = {}
dict_sales_2020['Jan'] = 1000
dict_sales_2020['Feb'] = 1100

#-- and we can use variables as the key for a dictionary if we so wanted:
month = 'Mar'
dict_sales_2020[month] = 1200

dict_sales_2020

{'Jan': 1000, 'Feb': 1100, 'Mar': 1200}

However, it would be much easier to do this in a loop as we have 12 months to do (and this is especially true as our datasets get larger)!

See if you can create the same dictionary as above, but using a loop. On each iteration use the loops iteration as an index to the <b>months</b> and <b>sales_2020</b> lists, setting them as the key and value of the dictionary entry respectively.

In [11]:
dict_sales_2020 = {}
#enter your looping code here
for i in range(len(months)):
  dict_sales_2020[months[i]] = sales_2020[i]

#print out the results
print(dict_sales_2020)

{'Jan': 1000, 'Feb': 1100, 'Mar': 1200, 'Apr': 1300, 'May': 1400, 'Jun': 1500, 'Jul': 1500, 'Aug': 1400, 'Sep': 1300, 'Oct': 1200, 'Nov': 1100, 'Dec': 1000}

Reproduce the same steps to convert your lists of sales 2021 and 2022 to dictionaries, but making sure that all entries are now integers.

In [12]:
#enter your code here
dict_sales_2021 = {}
dict_sales_2022 = {}
#enter your looping code here
for i in range(len(months)):
  dict_sales_2021[months[i]] = int(sales_2021[i])
  dict_sales_2022[months[i]] = int(sales_2022[i])
#print out the results
print(dict_sales_2021)
print(dict_sales_2022)

{'Jan': 1100, 'Feb': 1200, 'Mar': 1300, 'Apr': 1400, 'May': 1500, 'Jun': 1600, 'Jul': 1600, 'Aug': 1500, 'Sep': 1400, 'Oct': 1300, 'Nov': 1200, 'Dec': 1100}
{'Jan': 500, 'Feb': 1600, 'Mar': 1700, 'Apr': 1800, 'May': 1900, 'Jun': 500, 'Jul': 500, 'Aug': 500, 'Sep': 1800, 'Oct': 1700, 'Nov': 1600, 'Dec': 500}

You should now have 3 dictionaries containing the sales for years 2020, 2021 and 2022.

Combine all of these themselves as values in another dictionary (you can name it **dict_yearly_sales** for example) taking the year as its key - and then print out the results.

In [13]:
#enter your code here
dict_yearly_sales = {}
dict_yearly_sales['2020'] = dict_sales_2020
dict_yearly_sales['2021'] = dict_sales_2021
dict_yearly_sales['2022'] = dict_sales_2022

Well, that's already quite a lot of data already. Note that just like SQL tables, dictionaries have fields and values. And also like SQL tables, the order of the fields doesn't matter - you have to reference them by the correct key.

## Analysing the Ice Cream sales data

We now have some well structured data and can take advantage of that to perform some standard analysis on our business.

Let's start by computing the total sales for each year using the dictionary that we have freshly created (i.e. from the previous question). Using a **for** loop, print something like 'In 2020, total sales were £...', 'In 2021, total sales were £...' ...

In [20]:
#enter your looping code here, printing on each iteration of the loop...
def get_total_sales(dict_sales):
  total_sales = 0
  for i in dict_sales.values():
    total_sales += i
  return total_sales


for i in dict_yearly_sales:
  sales_for_yr = get_total_sales(dict_yearly_sales[i])
  print('In ' + str(i) + ', total sales were £'+ str(sales_for_yr))

In 2020, total sales were £15000
In 2021, total sales were £16200
In 2022, total sales were £14600

In addition to yearly sales, we are interested in the performance per trimester (and for each year):
    - Trimester 1 : Jan, Feb, Mar
    - Trimester 2 : Apr, May, Jun
    - Trimester 3 : Jul, Aug, Sep
    - Trimester 4 : Oct, Nov, Dec
    
Let's start by creating a variable **trimester_1** that extracts the first 3 months of our list **months** using slices. Follow the same principle to create the variables **trimester_2**, **trimester_3** and **trimester_4**

In [30]:
# In the first question of the case study, you should have defined months like that:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# your code here
trimester_1 = months[0:3]
trimester_2 = months[3:6]
trimester_3 = months[6:9]
trimester_4 = months[9:12]
sem_4 = months[-3:]
print(trimester_1)
print(trimester_2)
print(trimester_3)
print(trimester_4)
print(sem_4)

['Jan', 'Feb', 'Mar']
['Apr', 'May', 'Jun']
['Jul', 'Aug', 'Sep']
['Oct', 'Nov', 'Dec']
['Oct', 'Nov', 'Dec']

Using two **for** loops (to iterate through your years and months), and **if** statements that use the **in** operator (to check if a month is part of trimester), display on the screen the performance of each trimester and for each year like 'In Semester 1 of 2020, the sales were £...'.

In [ ]:
#enter your code here - good luck!