<a href="https://colab.research.google.com/github/Prajaktahz/Uni_Colab_Work/blob/main/FBA_Week_04_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
# FBA Computing Session Week 4:

Python Practice

In our foray into scripting for business analytics, we have so far learnt the core tools of scripting: variables, conditionals, loops, and data structures. These are absolutely central to have an instinctive undertanding of. However, there is one more concept that we need to understand before we can move on to real applications - and that is "functions".

In this practical we are mainly going to focus on functions, which are invaluable to know - they will be the LEGO bricks of your code as we gradually develop more complex and powerful analytics scripts. Let's go (practising with some toy functions)...

# Some practice examples

Below are simple examples covering what we have learned in the lecture so that you get a feel of how all these new LEGO bricks work. We will then move on our ice cream analytics case and also build a mini-game.

## Functions

Let's start with functions. Create a function **make_twice()** that prints on the screen "Twice Twice". Once you have defined your function, don't forget to add a function call to run it!

In [ ]:
# Your function definition here
def make_twice():
  print('Twice Twice')
# Your function call here
make_twice()

Twice Twice

Now create a function **make_twice_2()** that takes a string as a parameter and prints it twice on the screen.

In [ ]:
def make_twice_2(a):
  print(str(a) + ' ' + str(a))

make_twice_2('Hello')

Hello Hello

Let's now make a third version of our function **make_twice_3()** that takes a string as a parameter, doubles it, but then instead of printing it sends it back (i.e. **"returns"** it) to you main program. Then print the result outside of your function, using the returned value.

In [ ]:
def make_twice_3(a):
  return a*2

print(make_twice_3("Hello"))

HelloHello

Here is a bit of code that prints a square to screen:

In [ ]:
size = 5
for row in range(1, size + 1):
    print("*" * size)

*****
*****
*****
*****
*****

Convert this bit of code into a function called <b>make_square()</b> and print out a square by calling it.

In [ ]:
#enter your square code here
def create_sq(size):
  for row in range(1, size + 1):
    print("*" * size)

a = 4
create_sq(a)

****
****
****
****

Update your code so it accepts the squares SIZE as a parameter, and then call that function to build squares of size 3, 5 and 9.

In [ ]:
#enter your square code here
#enter your square code here
def create_sq(size):
  for row in range(1, size + 1):
    print("*" * size)

i = 0
while(i != 3):
  a = int(input("enter size:"))
  create_sq(a)
  i+= 1

enter size:3
***
***
***
enter size:5
*****
*****
*****
*****
*****
enter size:9
*********
*********
*********
*********
*********
*********
*********
*********
*********

Change the function you have created to print a right angled triangle instead of a square (if you get stuck here ask for help!). Then print out a triangle of size 5!

In [ ]:
#enter your triangle code here
def right_angle(size):
  for row in range(1, size + 1):
    if(row < (size)):
      print("*")
    else:
      print("*" * size)


def create_triangle(size):
  for row in range(1, size + 1):
    print('*'*row + ' ')

def create_triangle1(size):
  for row in range(1, size + 1):
    print(' '*(size-row) +' * '*row )


a = 5
right_angle(a)
print("  ")
create_triangle(a)
print("  ")
create_triangle1(a)

*
*
*
*
*****

*
**
***
****
*****

     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *

## Scope

The scope of a variable (i.e. the places that you can see or access a variable) is important to understand - read through the following code to ensure that you recognize what is going on - the last couple of lines will intentionally throw error to show you what happens when scoping gets confused.

In [ ]:
# This is a global variable
a = 0

if a == 0:
    # This is still a global variable
    b = 1

def my_function(c):
    # this is a local variable
    d = 3
    print(c)
    print(d)

In [ ]:
# Now we call the function, passing the value 7 as the first and only parameter
my_function(7)

7
3

In [ ]:
# a and b still exist
print(a)
print(b)

0
1

In [ ]:
# c and d don't exist anymore -- these statements will give us name errors!
print(c)
print(d)

NameError: ignored

Scoping works slightly different if you use data structures, like lists and dictionaries. Observe the following:

In [ ]:
def replace_lennon(mylist):
    mylist.append("james")
    mylist.remove("john")

people = ["john", "paul", "george", "ringo"]
print(people)

['john', 'paul', 'george', 'ringo']

In [ ]:

replace_lennon(people)
print(people)

['paul', 'george', 'ringo', 'james']

For lists and dictionaries the contents can get updated (because the list is just a 'holder' for the items within it) so take care - they work slighly differently to 'literals' such as strings and integers.

Write a function called **replace_by()** that accepts three parameters, the list, the person being removed from the list, and the person being added to the list. What happens if you give this function the name of a person not in that list? It will likely throw an error - can you think of a way of fixing this? Perhaps if you checked the list to ensure that the person was in it first, and only try and remove that person if they were actually there...</b>

In [ ]:
#enter your code for a person replacing function here
def replace_by(list_name, person_rm, person_ad):
  if person_rm not in list_name:
    print("Hi")
    print("Name not in list")
  else:
   list_name.append(person_ad)
   list_name.remove(person_rm)
   print(list_name)

people = ["john", "paul", "george", "ringo"]
print(people)
print("After executing fn")
replace_by(people,"john","Jina")

['john', 'paul', 'george', 'ringo']
After executing fn
['paul', 'george', 'ringo', 'Jina']

## Module import

People have written lots and lots of incredible functions for us to use in our code (so we don't have to write them ourselves) Here is an example of one that is very useful, showing how to import the <b>random</b> module that is then used to generate a random float number:

In [ ]:
import random

print(random.random())

0.35012794417273985

In a similar fashion, import the **math** module and experiment with the square root function (math.sqrt()).

In [ ]:
from math import sqrt

## File Operations

Let's now practice our file operations skills. Below are some examples to:
1. Write to a file
2. Append to a file
3. Read a file

In [ ]:
with open('example.txt', 'w') as f:
    f.write('This is an example file.')

In [ ]:
with open('example.txt', 'a') as f:
    f.write(' My name is Prajakta')

In [ ]:
with open('example.txt', 'r') as f:
    print(f.read())

This is an example file. My name is Prajakta

Using the same structure, write to a file 'today.txt' the following text: 'This is Wednesday 2nd November'

In [ ]:
with open('today.txt','w') as f:
  f.write('This is Wednesday 2nd November')

Now **append** to the file ', and it is freezing and raining ...' (depending on the weather)

In [ ]:
with open('today.txt','a') as f:
  f.write(', and it is freezing and raining ...')

Finally, read the content of your file.

In [ ]:
with open('today.txt', 'r') as f:
    print(f.read())

This is Wednesday 2nd November, and it is freezing and raining ...

## String manipulation

You are given a variable data containing a string that we want to convert into a list of 12 values using the method **split()**.

In [ ]:
data = '1000 1100 1200 1300 1400 1500 1500 1400 1300 1200 1100 1000'
list_data = data.split()
list_data

['1000',
 '1100',
 '1200',
 '1300',
 '1400',
 '1500',
 '1500',
 '1400',
 '1300',
 '1200',
 '1100',
 '1000']

We now want to print the data, one value per line. We can do that in a single line of code using the method **join()** and a print statement. Remember that the new line character is **\n**.

In [ ]:
print('\n'.join(list_data))

1000
1100
1200
1300
1400
1500
1500
1400
1300
1200
1100
1000

<hr/>

## Case Study Example - back to ice creams!

Once again, let's go back to our ice cream business and see how we could have made our lives a bit simpler last week if we had known how to read files!

Here is a reminder of the sales of our business:

|-| January | February | March | April | May | June | July | August | September | October | November | December
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2020|£1000|£1100|£1200|£1300|£1400|£1500|£1500|£1400|£1300|£1200|£1100|£1000|
|2021|£1100|£1200|£1300|£1400|£1500|£1600|£1600|£1500|£1400|£1300|£1200|£1100|
|2022|£500|£1600|£1700|£1800|£1900|£500|£500|£500|£1800|£1700|£1600|£500|

This time you won't have to manually write all the sales, our business provided you a CSV file *ice_cream_sales.csv* that contains the information. Please upload this file to the google drive where you have saved a copy of the script.

### Step 1: How is the data structured?

When you will receive a new dataset, one of the first things to do is to have a look at how your data is structured. To do this, open the file *ice_cream_sales.csv* in the text editor and understand how it is structured. (***This is not done in Python!!!***)

In Colab, before attempting to read the file you need to either
- add it by clicking on folder sign and dragging and dropping the file;
- load the file previously saved in your google drive by [mounting the google drive](https://stackoverflow.com/questions/48323471/csv-file-not-found-error-in-google-colaboratory-notebooks); or
- get the file from some shared (or public) location online with the code below:

In [2]:
!wget -O week4_data.zip "https://drive.google.com/uc?export=download&id=1hpouC0KXcMqDJFquWLWuemditLB7Qf5g"
!unzip week4_data.zip

--2023-10-26 16:49:28--  https://drive.google.com/uc?export=download&id=1hpouC0KXcMqDJFquWLWuemditLB7Qf5g
Resolving drive.google.com (drive.google.com)... 173.194.213.139, 173.194.213.138, 173.194.213.102, ...
Connecting to drive.google.com (drive.google.com)|173.194.213.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-80-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9tuv78i17h5dj85ojdc11l6v93uqjja1/1698338925000/02584936932483403665/*/1hpouC0KXcMqDJFquWLWuemditLB7Qf5g?e=download&uuid=2d4aebd3-9eea-4527-93a2-90be0bfb847e [following]
Warning: wildcards not supported in HTTP.
--2023-10-26 16:49:28--  https://doc-0c-80-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9tuv78i17h5dj85ojdc11l6v93uqjja1/1698338925000/02584936932483403665/*/1hpouC0KXcMqDJFquWLWuemditLB7Qf5g?e=download&uuid=2d4aebd3-9eea-4527-93a2-90be0bfb847e
Resolving doc-0c-80-docs.googleusercontent.com (doc-0c-80-docs.googleusercontent.com)... 173.194.215.132, 2607:f8b0:400c:c0c::84
Connecting to doc-0c-80-docs.googleusercontent.com (doc-0c-80-docs.googleusercontent.com)|173.194.215.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 209 [application/x-zip-compressed]
Saving to: ‘week4_data.zip’

week4_data.zip      100%[===================>]     209  --.-KB/s    in 0s

2023-10-26 16:49:28 (1.67 MB/s) - ‘week4_data.zip’ saved [209/209]

Archive:  week4_data.zip
  inflating: ice_cream_sales.csv

### Step 2: Reading the file

Using the **with** statement alongside the **open** function, print the content of the file line by line.

In [4]:
with open('ice_cream_sales.csv', 'r') as f:
    for line in f:
        print(line)

﻿2020,1000,1100,1200,1300,1400,1500,1500,1400,1300,1200,1100,1000

2021,1100,1200,1300,1400,1500,1600,1600,1500,1400,1300,1200,1100

2022,500,1600,1700,1800,1900,500,500,500,1800,1700,1600,500

### Step 3: Pre-processing the data - Part I

Using your code from the previous question as the starting point, add some code that takes advantage of the CSV (comma-separated value) format to split the data of each line into a list, assigned to a variable **data**. You can check the content of your variable using the statement **print(data)**

In [11]:
ice_cream_sales_list = []

with open("ice_cream_sales.csv", "r") as f:
  for line in f:
    ice_cream_sales_list.append(line)

#print(ice_cream_sales_list)
print(ice_cream_sales_list[0])

﻿2020,1000,1100,1200,1300,1400,1500,1500,1400,1300,1200,1100,1000

### Step 4: Pre-processing the data - Part II

Reusing the code from the previous question as the starting point, extract for each line the year and a list of the sales for the 12 months. You can store them respectively in a variable **year** and **sales**, and add the statement **print(year, sales)** to check the content of your variables.

In [12]:
data = ice_cream_sales_list
val = data.split(',')
print(val)

AttributeError: ignored

### Step 5: Pre-processing the data - Part III

Reusing the code from the previous question as the starting point, extend it to store the data in a dictionary that will use the year as the key and the list of sales as a value. Don't forget to print your dictionary at the end to check what it contains!

### Step 6: Yearly average sales

Write a function **list_average()** that takes a list as a parameter and return the average value of the list.

Using a **for** loop and the function **list_average()**, print the average monthly sale for each year of our business.

## Guess the number!

I am sure most of you would have already played that game where one of your friend picks a random number and you try to guess it as quickly as possible. We now have all the bricks we need to build such a game so let's do it, step by step!

### Step 1: Getting a random number

First we need to import the random module so that we can generate random numbers.

In [ ]:
# Make sure you execute this cell otherwise Python will not know
# any function inside the random module !!!

import random

In the random module, the function randint() returns a random integer with a value between the first argument and the second. Here is an example to generate a random number between 1 and 5:

In [ ]:
print(random.randint(1, 5))

Use the function **randint()** to generate a random number between 0 and 100 and store it in a variable **secret**

### Step 2: Checking the user input

Now, let's write a function **good_guess()** that:
* Takes two integer parameters: **secret** and **guess**
* Compares the **secret** and **guess** values and prints a clue if the secret smaller or bigger than the guess.
* Returns **True** if the two numbers are equal, **False** otherwise

In [ ]:
# Whilst you create a new function, it is quite common to call
# it with some simple values, where you know the expected output
# to see if it behaves as expected, like in this example.
def example_function(a, b):
    print(a + b)
    return a + b

r = example_function(3, 6)
print('The return value of example_function is ' + str(r))

### Step 3a: Build a game logic giving 10 attemps

Using a **for** loop and the function **range**, write some code that will capture the user input as an integer, check the value compared to the secret number using your function **good_guess()** and giving a maximum of 10 attemps to the user. (Do you remember **continue** and **break** statements? You may well need one of these two!).

Once you have that working, you can add a display message that says 'You won in ... attempts!' if the user found the secret number in less than 10 attemps or 'You have lost!' otherwise.

### Step 3b: Let's have unlimited attempts!

Hard to win? This time, let's change it to have unlimited tries using a **while** loop. Make sure you also have a mechanism to count the number of attempts.

## Bored of playing?

We now have a game that we can play ourselves but as we are becoming 'coding ninjas', let's write a program that will play for us against the computer!

We will have two approaches:
1. Brute force: At each attempt, randomly pick a number between 0 and 100 until we win.
2. Human logic: When you play the game, I am sure that you have a certain strategy! Try to write a function that replicates your strategy!

### Step 4: Another check function

We are now going to make a slightly different version of our function **good_guess()** created in Step 2 by creating a new function called **check_guess()**. This new function will take two parameters **secret** and **guess** and
* Return 0 if secret and guess are equals
* Return 1 if secret is bigger than guess
* Return -1 if secret is smaller than guess

We will not include any **print()** statements in this function!

In [ ]:
def check_guess(secret, guess):
    if secret == guess:
        return 0
    elif secret < guess:
        return -1
    else:
        return 1

## Step 5: The brute force

Starting with your code from Step 3b, make changes to now pick a random number between 0 and 100 instead of asking for the user input and use our new function **check_guess()**.

You should now have a block of code that automatically plays the game by randomly picking numbers until you win. We are now going to wrap all this code in a function called **play_brute_force()** that will return the number of attempts needed to win.

In [ ]:
# def play_brute_force():

In [ ]:
play_brute_force()

### Step 6: Your own strategy

Use your own logic to try to solve the random number game in the least amount of tries.

Once you are satisfied with your logic, wrap your code into a function **play_logic()** that also returns the number of attempts needed to success.

In [ ]:
# def play_logic():

In [ ]:
play_logic()

### Step 7: Performance comparison

We now have two functions **play_brute_force()** and **play_logic()** that play the game with different approaches. We want to do a performance comparison of the two techniques over 1000 games to find the average number of attempts needed to win.

You will need a **for** loop and some data structures that we have learned last week.